*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    background: url(img/header-lineas.png) top right no-repeat #c63527;
    background-size: 1440px 53px;
    height: 53px;
    display: flex;
}

.logo{
    width: 300px;
    margin: 6px 0 0 4px;
    background-size: 243px 41px;
    height: 40px;
    display: inline-block;
    margin-left: 100px;
}

nav > div > p{
    color: white;
    padding: 0 10px;
}

nav > div{
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
}

.subnav{
    height: 50px;
    margin-bottom: 20px;
    background-color: #2C325F;
    display: flex;
}

.subnav div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.subnav div p {
    padding: 0 10px;
    font-size: 14px;
}

.subnav div:nth-child(1){ 
   margin-left: 120px;

}

.subnav div:nth-child(2){ 
    margin-left: 590px;
 }

 .channel {
    margin-top: -20px;
 }

 a{
    text-decoration: none;
 }

 .channelPlayer{
    margin: 0 auto;
    margin-top: -20px;
    width: 60%;
 }


 .header{
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
 }

 .atleticoButton,
 .azButton{
    width: 300px;
    height: 150px;
    background-color: #649BD2;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s;
 }

 .atleticoButton:hover,
 .azButton:hover {
    transform: scale(1.1);
 }

 .atleticoButton > img,
 .azButton > img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 16%;
 }

 .azButton > img{
    width: 40%;
 }

 .allChannels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 150px;
 }

 .atleticoLogo {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 25px;
    background-color: #649BD2;
    border-radius: 10px;
    margin-top: 50px;
 }


 .channelOptions {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
 }

 .channelOption{
    width: 300px;
    height: 150px;
    background-color: #649BD2;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s;
    position: relative;
 }

 .channelOption:hover{
    transform: scale(1.1);
 }

 .channelOption > p {
    text-decoration: none;
    color: white ;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
 }